<!-- views/home/about.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head') %> 
</head>
<body>
    <%- include('../partials/nav') %> 

    <div class="container mb-3">
        <h2 class="mb-3">About</h2>
        <p>This site just Template for Simple Board</p>
        <br>
        <p>Using MONGO_DB</p>
    </div>
</body>
</html>
